.main-ind{
    background-color:black;
    height: 35px;
    width: 100%;
}
.log-phone-ind{
    color: white;
    font-size: 13px;
    margin-left: 8%;
    margin-top: 6px;
}
.text-sub-ind {
    margin-top: 2px;
}

.text-sub-ind p::before {
    content: "FREE WATCH  WORTH ₹1,950 ON ₹4,000 SHOP";
    animation: animate infinite 3s;
    background-color: black;
    padding: 7px 180px;
    border-radius: 40px;
    color: white;
    font-family: ano-bold_regular, Helvetica, Arial, sans-serif;
    font-size: 10px;
    text-align: center;
}
@keyframes animate {

    0% {
        content: " USE ON YOUR FIRST ORDER ON RS. 1200. OFF";
    }

    50% {
        content: "FREE WATCHES  WORTH ₹3,340 ON ₹2,560 OFF";
    }

    75% {
        content: "BLACK SHADE  WORTH ₹1,950 ON ₹4,430 OFF";
    }
    100% {
        content: "WHITE WATCH  WORTH ₹1,950 ON ₹4,430 OFF";
    }
}
#ind-num{
    margin-left: 9px;
}
#log-ind-l{
    margin-left: 10px;
}
#color-nav-ind:hover{
    color: red;
}
#color-nav-ind{
    color: rgb(229, 64, 64);
}
#color-nav-ind2:hover{
   color: rgb(225, 7, 7);
}
.main-sub-ind{
    display: flex;
    justify-content: space-evenly;
}
.log-cart-ind{
    color: white;
    font-size: 13px;
    margin-right: 2%;
    margin-top: 6px;
}
/* ////// black ////// */


/* img */
.center-ind{
    display: flex;
    justify-content: center;
}
/* //////nav ////// */
.nav-main-ind {
    display: flex;
    justify-content: center;
    gap: 60px;
    padding: 10px;
  
}
.nav-main-ind a span {
    color: rgb(0, 0, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.navbar-id-color{
    background-color: #fff5f5;
    border-top: 0.3px solid #cbc9c9c3;
    background: -webkit-linear-gradient(to right, #fffbfb, #fffdfe);
	background: linear-gradient(to right, #ffffff, #f6f5f5);
    margin-top: 10px;
     
}
.HOME-IND{
    color: #1e1e1e;
    margin-left: 10%;
    margin-top: 20px;
}
.banner h2 {
    text-align: center;
    padding-top: 10%;
    color: white;
    font-size: 50px;
    letter-spacing: 3px;
    margin-bottom: 20px;
}
.banner{
    background-image:linear-gradient(rgba(36, 34, 34, 0.283),rgba(39, 38, 38, 0)), url("../../../public/F_F_-_Gold.webp");
    height: 79vh;
    background-size: cover;
    margin-top: 20px;

}
.buttons-full-data a:hover {
    padding: 10px 32px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    border: 1.5px solid rgb(182, 27, 27);
    background-color: rgb(182, 27, 27);
    transition: .5s;


}
.buttons-full-data a {
    padding: 10px 32px;
    color: white;
    background-color: red;
    text-decoration: none;
    border-radius: 20px;


}
#Linkkkkss{
    color: white;
    text-decoration: none;
    margin-left: 20px;
}
.buttons-full-data{
    margin-top: 24%;
    margin-right:18%;

}
.mainbtn {
    text-align: center;
    padding-top: 3%;


}
.main-ind-brown{
    background-color:#131111;
    height: 23px;
    width: 100%;
  

}
#holi{
    font-weight: 600;

}
#EMI{
    font-size: 18px;
}
.data-brown-ind a{
    color: white;
    font-size: 17px;
}


/* footer  */
.footer-main {
   
    background: linear-gradient( #08080b, #141313, #1f1d1d);
    height: 360px;
    margin-top: 20px;
    color: #ffffff;

}

.footer-icons-main {
    text-align: center;

}

.footer-icons-main i {
    margin-top: 5%;
    margin-right: 20px;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

.footer-flex-main-contents {
    display: flex;
    width: 88%;
    gap: 30px;
    margin-left: 3%;
    margin-top: 2%;
}

/* footer full first  */
.footer-first {
    margin-top: 2%;
    width: 35%;
    margin-left: 8%;
}

.footer-first h3 {
    font-weight: bold;
    font-size: 19px;
    margin-bottom: 25px;
}

.footer-first p {
    color: #cbc9c9;

}

/* foooter full second  */
.footer-second {
    margin-top: 2%;
    width: 35%;
    margin-left: 2%;
}

.footer-second h3 {
    font-weight: bold;
    font-size: 19px;
    margin-bottom: 25px;
}

.footer-second input {
    width: 98%;
    padding: 7px 10px;
    margin-bottom: 17px;
}

.footer-second input::placeholder {
    font-size: bold;
    font-weight: 400;
}

.footer-second a {
    text-decoration: none;
    padding: 8px 40px;
    outline: none;
    border: none;
    color: #ffffff;
    background: #326bbcbc;
}

.footer-second a:hover {
    color: #ffffff;

}

/* footer full third  */
.footer-third {
    margin-top: 2%;
    width: 35%;
    margin-left: 2%;
}

.footer-third h3 {
    font-weight: bold;
    font-size: 19px;
    margin-bottom: 25px;
}

.footer-third p {
    color: #cbc9c9;

}

/* footer full-fourth  */
.footer-four {
    width: 35%;
    margin-left: 3%;
    margin-top: 2%;

}

.footer-four h3 {
    font-weight: bold;
    font-size: 19px;
    margin-bottom: 25px;

}

.footer-four a {
    color: #cbc9c9;
    text-decoration: none;
    margin-left: 5px;
}

.footer-four a:hover {
    color: #ffffff;
}

.footer-four-for-margin i {
    margin-top: 14px;
}
/* just footer-border  */
.foooter-just-border{
    border-bottom: 1px solid #cbc9c9;
    width: 66%;
    margin-left: 15%;
    margin-top: 15px;
}
.last-footer-para{
    text-align: center;
    margin-top: 20px;
}
.last-footer-para p{
    color: #cbc9c9;
}
.last-footer-para a{
    text-decoration: none;
    color: #cbc9c9;

}
.last-footer-para a:hover{
    color: #cbc9c9;
}

/* ////// categories */
.ind-6images-full-section{
    text-align: center;
    font-size: 36px;
    font-family: sans-serif;
    font-weight: 300;
    margin-top: 10%;

}
.ind-classic{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.ind-1st-image img{
    margin-left: 10%;
    border-radius: 9px;
    width: 80%;
     
}
.ind-1st-image img:hover{
    width: 81%;
    transition: .2s;
    cursor: pointer;

}
/* ////////About */
.About-tissot-ind{
    display: flex;
    justify-content: space-between;
    width: 98%;
}
.About-tissot-ind-contents{
    width: 50%;
   
}
.About-tissot-ind-contents h5{
    margin-top: 20%;
    margin-left: 10%;
    font-size: 38px;
    font-weight: 460;
    font-family: sans-serif;
}
#para-tissot{
    margin-left: 10%;
    width: 80%;
    font-size: 19.5px;
    font-weight: 300;
    margin-top: 20px;
    color: #1e1e1e;
}
#para-btn{
    background-color: rgb(125, 19, 19);
    padding: 5px 90px;
    border: 1px solid rgb(91, 15, 15);
    margin-left: 12%;
    margin-top: 1%;
    border-radius: 20px;
    color: white;
    
}
#para-btn:hover{
    background-color: rgb(10, 9, 9);
    border: 1px solid rgb(15, 15, 15);
    transition: .4s;

}
.About-tissot-ind-img img{
    width: 600px;
    margin-top: 15%;
    border-radius: 9px;
}
/* //////bannner ///// */
.banner-ind-tissot{
    background-image: url("/Banner-Tissot.avif");
    height: 400px;
    width: 90%;
    margin-left: 5%;
    border-radius: 10px;
    margin-top: 10%;
    background-size: cover;

}
#banner-para-tissot{
    color: white;
    font-size: 45px;
    margin-left: 7%;
    padding-top: 9%;

}
#para-btn-discover{
    background-color: rgb(222, 17, 17);
    padding: 10px 100px;
    border: 1px solid rgb(91, 15, 15);
    margin-left: 12%;
    margin-top: 1%;
    border-radius: 20px;
    color: white;

}
#para-btn-discover:hover{
    background-color: rgb(123, 17, 17);

}




