.Shopping-bag-main{
    margin-top: 6%;
    margin-left: 14%;


    .shopping-bag-wish{

        border-bottom: 1px solid rgb(189, 187, 187);
        width: 80%;
        padding-bottom: 20px;
       
    
    }
    .shopping-bag-wish span{
        font-size: 1.5rem;
        line-height: 1.9375rem;
        font-weight: 500;
        color: #000;
        font-family: sans-serif;
    }
    .shopping-bag-wish-banner{
        width: 80%;
        height: 300px;
        margin-top: 20px;
        display: flex;
        border: 1px solid rgb(117, 117, 118);
    }
    .shopping-bag-wish-banner-images{
        width: 30%;
        border: 0.3px solid rgb(224, 221, 221);
        height: 200px;
        margin-top: 5%;
        margin-left: 2%;

    }
    .shopping-bag-wish-banner-images img{
        width: 65%;
        margin-left: 15%;
       
    }
    .bag-only-wish{
        margin-bottom: 10px;
        margin-left: 10px;
    }
    .shopping-bag-wish-banner-data p{
        margin-top: 20px;
        margin-left: 30px;
        color: rgb(70, 69, 69);
        font-size: 16px;
    }
    .main-wish{
        display: flex;
        gap: 350px;
        cursor: pointer;
    }
    .main-wish button{
        color: rgb(215, 18, 18);
    }
    .main-wish button:hover{
        color: rgba(53, 6, 52, 0.853);
    }
    .main-wish i:hover{
      color: red;
    }
    .btn-whish{
      background-color: transparent;
      border: none;
    }
    #price-wish{
        margin-left: 30px;
    }
    #price-wishes{
        margin-left: 20px;
    }
    .shp-now-btn{
        text-decoration: none;
        border: 2px solid rgb(1, 2, 14);
        color: rgb(8, 8, 8);
        padding: 5px 30px;
    }
}