.name-product-detail-cust{
   text-align: center;
   font-size: 18px;
   padding-top: 10px;
}
.btn-cust-add-cart{
    display: flex;
    gap: 20px;
 

   
}

.Add-cart-cus {
    font-size: 12px;
    border-radius: 6px;
    
}
.wishhh{
    margin-left: 0px;
}
.gotocart{
    text-decoration: none;
    color: rgb(18, 18, 18);
}