.log-phone-ind{
    position: relative;
}
.count-nav1{
    position: absolute;
    left: 110%;
    bottom: 41%;
    background-color: rgba(13,83,118);
    color: rgb(255, 255, 255);
    padding: 1px 4px;
    border-radius: 10px;
}
.log-cart-ind2{
    position: relative;
    font-size: 13px;
    margin-top: 10px;
    
    
}
.count-nav2{
    position: absolute;
    left: 29%;
    bottom: 39%;
    background-color: rgb(13, 83, 118);
    color: rgb(255, 255, 255);
    padding: 1.5px 4px;
    border-radius: 30px;
}
.reg{
    color: white;
}